:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.inactive{
    display: none;
    
}

/* menu*/

.menu{
    display: none;

}


.nav{
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    border-bottom: 1px solid var(--very-light-pink);
}

.logo{
    width: 100px;
}
.navBarL ul, .navBarR ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.navBarL{
    display: flex;
}
.navBarL ul{
    margin-left: 12px;
}

.navBarL ul li a, .navBarR ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    

}

.navBarL ul li a:hover, .navBarR ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    
}

.correo{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.carrito div{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carrito{
    position: relative;

}

/* despliege del menu*/

.desktopMenu {
    
    cursor: pointer;
    position: absolute;
    background-color: var(--white);
    top: 57px;
    right: 45px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktopMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;


}

.desktopMenu ul li {
    text-align: center;


}



.desktopMenu ul li:nth-child(1),
.desktopMenu ul li:nth-child(2) {
  font-weight: bold;
}

.desktopMenu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);


}

.desktopMenu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);


}

.desktopMenu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;


}

/* estilos para menu responsive */

.mobileMenu{
    padding: 24px;
    position: absolute;
    top: 58px;
    background-color: var(--white);
    border : 1px solid var(--black);
   
}

.mobileMenu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    
}

.mobileMenu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    position: relative;

}

.mobileMenu ul li {
    margin-bottom: 24px;

}

.mobileMenu .email {
    font-size: var(--sm);
    font-weight: 300 ;
    
}

.mobileMenu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobileMenu .ingresa {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.mobileMenu ul:last-child {
    position: absolute;
    bottom: 0;
}


@media (max-width:640px){
    .menu{
        display: block;
    }
    .navBarL ul {
        display: none;
    }
    .correo{
        display: none;
    }
    .desktopMenu{
        display: none;
    }
}

@media (min-width: 641px){
    .mobileMenu{
        display: none;
    }
}
    